.Past-title {
    text-align: center;
    margin-top: 200px;
    font-size: 2.2em;
}

.Past-main-container {
    background-color: #3b3b65 ;
    padding-bottom: 40px;
}

.Past-container{
    padding-bottom: 50px;
    background-color: #3b3b65;
    min-height: fit-content;
   

}



.Past-button{
    text-align: center;
    margin-top: 40px;
    font-size: 2.0em;
    color: white;
    text-decoration: none;
    border : 3px solid white;
    padding : 12px;
    min-width: fit-content;
    width: 15%;
    text-align: center; 
    background-color: Transparent;
    font-size: 20px;
}

.Past-button:hover{
    color: rgb(254, 254, 53);
    border : 3px solid rgb(254, 254, 53);
    cursor:pointer;

}



.Close-pop-up-button{
    color: white;
    text-decoration: none;
    border : 3px solid white;
    padding-top : 9px;
    padding-bottom : 9px;
    padding-right : 11px;
    padding-left: 11px;
    min-width: fit-content;
    width: 4.5%;
    text-align: center; 
    background-color: Transparent;
    font-size: 16px;

}

.Close-pop-up-button:hover{
    color: rgb(254, 254, 53);
    border : 3px solid rgb(254, 254, 53);
    cursor:pointer;

}