.Table-container {
   margin:auto;
   max-width: 85%;
   margin-top: 30px;
   border-collapse: collapse;

}

 th {
    border-bottom: 1px solid whitesmoke;
   
  }

  td, th {
    padding: 10px;

  }

tr:nth-child(even){
    background-color: #4e4e7e; 
}
