* {
    font-family: Helvetica Neue,-apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Ubuntu,Helvetica,Arial,sans-serif;
    color: white;
}


.Tables-view-container{

    background-color: #3b3b65;
    height: 100vh;
    text-align: center;
}